# Engine project
Engine/*.vcxproj*
Engine/Bin
Engine/Temp

# Qt Sandbox project
QtSandbox/*.vcxproj*
QtSandbox/Bin/*.dll
QtSandbox/Bin/QtSandbox.*
QtSandbox/Temp

# SDL Sandbox project
SDLSandbox/*.vcxproj*
SDLSandbox/Bin/*.dll
SDLSandbox/Bin/SDL Sandbox.*
SDLSandbox/Temp

# Visual Studio
.vs/
*.sln