# Engine project
Engine/*.vcxproj*
Engine/Bin
Engine/Temp

# Qt Sandbox project
QtSandbox/QtSandbox.*
QtSandbox/Bin
QtSandbox/Temp

# SDL Sandbox project
SDLSandbox/SDLSandbox.*
SDLSandbox/Bin
SDLSandbox/Temp

# Visual Studio
.vs/
*.sln