# Root folder
*.*
!.git*
!Generate.lua

# Engine project
Engine/*.*
!Engine/Engine.lua
Engine/Bin
Engine/Temp

# Qt Sandbox project
QtSandbox/*.*
!QtSandbox/QtSandbox.lua
QtSandbox/Bin
QtSandbox/Temp

# SDL Sandbox project
SDLSandbox/*.*
!SDLSandbox/SDLSandbox.lua
SDLSandbox/Bin
SDLSandbox/Temp